@charset "UTF-8";

@media print{

}

@media screen and (min-width: 768px)
/*Para tablets*/ {
    i#burguer{
        display: none;
    }
    menu{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
    }

    main{
        width: 740px;
    }
    
}