h1{
    background-color: rgb(255, 230, 0);
}

h2{
    color: rgb(240, 240, 240);
}


body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



    background-color: rgb(46, 46, 46);
}

p{
    color: rgb(255, 251, 0);

}

a{
    color: rgb(121, 220, 250);
}